.text {
  padding: 0 0 10px 0;
  text-transform: capitalize;
  font-weight: 300 !important;
}

.makePaymentContainer {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}

.makePaymentContainerDesktop {
  // ===width: 100%;
  height: 79vh;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
}

.makePaymentContainerMainDesktop {
  margin: 1rem;
}

.headerContainerDesktop {
  display: none;
}

.headerContainer {
  position: relative;

  .headerLabel {
    font-weight: 400;
    color: var(--colorTitle);
    font-size: 16px;
    padding: 18px 0px 0px 0px;
  }

  @media (max-width: 768px) {
    .headerLabel {
      padding: 0;
    }
  }

  .headerUnderline {
    position: absolute;
    width: 10px;
    height: 2px;
    margin-top: 4px;
    margin-left: 2px;
    background-color: var(--colorPrimaryButton);
  }
}

.tabContainerDesktop {
  width: 100%;

  .tabsWrapperDesktop {
    flex: 1;
    justify-content: center;
    align-items: center;

    .tabsStyle {
      margin-bottom: 20px;
    }

    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }

    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }

  .tabsWrapper {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;

    .tabsStyle {
      margin-bottom: 20px;
    }

    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }

    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }
}

.tabContainer {
  min-width: 100%;
  min-height: 100%;
  position: relative;

  .tabsWrapper {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;

    .tabsStyle {
      margin-bottom: 20px;
    }

    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }

    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }
}

.outstanding {
  input {
    ::placeholder {
      color: #000000 !important;
      opacity: 1 !important;
    }
  }

  .billsDesktop {
    margin: 39px 0 0 0;
    background-color: white;
    height: 48vh;
    overflow: scroll;

    p {
      margin: 0;
      padding: 0;
    }

    .billItemDesktop {
      height: 44px;
      background: var(--colorGreyBg);
      border-radius: 10px;
      margin: 0 0 14px 0;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .body {
        flex: 1;
      }

      .billName {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
        text-transform: capitalize;
      }

      .totalBill {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
      }

      .billAmount {
        color: var(--colorPrimaryButton);
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .bills {
    margin: 25px 0 0 0;
    background-color: white;
    border-radius: 16px;
    height: calc(89vh - 480px);
    overflow: scroll;
    padding: 12px 15px;

    p {
      margin: 0;
      padding: 0;
    }

    .biilItem {
      height: 64px;
      background: var(--colorGreyBg);
      border-radius: 16px;
      margin: 0 0 14px 0;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .body {
        flex: 1;
      }

      .billName {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .totalBill {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
      }

      .billAmount {
        color: var(--colorPrimaryButton);
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.payNow {
  margin: 10px 0 0 0;
  width: 90vw;
  // position: absolute;
  // bottom: -110px;
}

.payNowDesk {
  background-color: #00a676;
  height: 70px;
  position: absolute;
  bottom: 36px;
  left: 32px;
  right: 32px;
}

.payNowDesktop {
  display: none;
}

.list {
  overflow: scroll;
  margin: 18px 0 0 0;
  // height: 420px;
  height: 80vh;
}

.categoryOptions {
  // height: 75px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.categoryOptionsDesktop {
  height: 75px;
  border-radius: 10px;
  width: 100%;
  margin: 0 0 10px 0;
  background-color: rgba(245, 245, 243, 0.8);
}

.drawer {
  margin: 20px 0 0 20px;
}

.billBodyDesktop {
  margin: 0px 8px 0px 0px;
  background-color: rgba(245, 245, 243, 0.8);
  border-radius: 13px;
  // display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  p {
    margin: 0;
    padding: 0;
  }

  .billName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1%;
    text-transform: capitalize;
  }

  .overdue {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }

  .totalAmount {
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--colorPrimaryButton);
    right: 20px;
  }

  .checkedDesktop {
    display: flex;
    width: 50%;
    justify-content: space-between;

    .checkedText {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #6e6e6e;
      text-align: left;
      text-transform: capitalize;
    }

    .customPlaceholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;

      ::-webkit-input-placeholder {
        color: #000000;
      }
    }

    input {
      text-align: left;
    }

    .error {
      border-color: red !important;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 5px 0 0 0;
    }
  }
}

.billItem {
  p {
    margin: 0;
    padding: 0;
  }

  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  height: 100%;

  .billName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 4%;
    text-transform: capitalize;
  }

  .overdue {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }

  .totalAmount {
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--colorPrimaryButton);
    right: 20px;
  }

  .checked {
    .customPlaceholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;

      ::-webkit-input-placeholder {
        color: #000000;
      }
    }

    input {
      text-align: right;
    }

    .error {
      border-color: red !important;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 5px 0 0 0;
    }
  }
}

.action {
  width: 100%;
  text-align: center;
  // margin: 22px 0;
  position: absolute;
  bottom: 20px;
}

.actionDesktop {
  width: 100%;
  text-align: center;
  margin: 22px 0;
  position: absolute;
  bottom: 0;
}

.submitButton {
  width: 85vw;
  border-radius: 18px !important;

  color: var(--colorWhite) !important;
  padding: 6px 20px !important;
  text-align: center !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

.submitButtonDesktop {
  width: 50%;
  border-radius: 18px !important;
  color: var(--colorWhite) !important;
  padding: 6px 20px !important;
  text-align: center !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

.active {
  background-color: var(--colorPrimaryButton) !important;
}

.disabled {
  background: rgba(240, 139, 50, 0.56) !important;
}

.selectedParty {
  background: #ffffff;
  // margin: 42px 0 0 0;
  height: calc(95vh - 50vh);
  overflow: auto;

  .selectedBill {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;

    .selectedBillName {
      font-style: normal;
      flex: 1;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: var(--colorPaymentTotalValue);
      text-align: left;
    }


    .selectedTotalAmount {
      flex: 1;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 0 20px 0 0;
    }
  }
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #283049;
}
.displayFlex{
  display: flex;
  flex-direction: row;
  padding: 22px 20px 26px 20px;
  background: #FFEFE0;
  margin-bottom: 12px;
  place-content: space-between;
}
.displayFlex2{
  display: flex;
  flex-direction: row;
  padding: 15px 20px 19px 20px;

  background: rgba(245, 245, 243, 0.8);
    margin-bottom: 12px;
  place-content: space-between;
}
.billRow{
  width: 190px;
  justify-content: space-between;
}
.billNamed{
  align-self: center;
  width: max-content;
}
.billNamed2{
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; 
  color: #F08B32;
}
.overDueTime{
  font-weight: 400;
font-size: 11.095px;
line-height: 16px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-top: 5px;

color: #6E6E6E;
}
.toPay{
  font-weight: 400;
font-size: 10.086px;
line-height: 13px;
display: flex;
align-items: center;

color: #6E6E6E;
}
.toPayAmount{
background: rgba(240, 139, 50, 0.06);
border: 0.504301px solid #F08B32;
box-shadow: inset 0px 1px 4px rgba(207, 177, 150, 0.72);
border-radius: 5.76344px;
font-weight: 400;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
color: #283049;
width: 85.59px;
height: 12.97px;
padding: 10px;
margin-top: 7px;
}
.toPayAmount2{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #283049;
  margin-top: 7px;
  }

// paynow
.paynowContainer{
  margin: 0;
  height: 65px;
  // z-index: 1;
  display: flex;
  border-radius: 14px;
  box-shadow: 0px 4px 44px rgba(114, 92, 193, 0.15), 0px -7px 23px rgba(0, 0, 0, 0.02);
  .subContainer{
      height: 100%;
      z-index: 2;
      border-radius: 14px;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 4px 44px rgba(114, 92, 193, 0.15), 0px -7px 23px rgba(0, 0, 0, 0.02);
      div{
          padding: 0 0 0 18px;
      }
  }
  p{
      margin: 0;
      padding: 0;
  }
  .title{
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
  }
  .subTitle{
      margin-top: 2px;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
  }
  .paynow{
      width: 30%;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
      color: #FFF;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 16px;
      }        
  }
}
.active{
  background-color: var(--colorPrimaryButton);
}
.disable{
  background: rgba(240, 139, 50, 0.56);
}
.payStackDesktop{
  justify-content: space-between;
   padding: 5px;
  align-items: center;
  position: relative;
  width: 99%;
  bottom: 70px;
  background-color: #00A676;
  .btn{
      width: 100% ;
      font-size: 10px;
      text-transform: capitalize;
      height: 35px;
      background: #FFFFFF;
      box-shadow: 0px 12.2096px 17.4423px #0000001a;
      border-radius: 31.3962px;
      color:#00A676;
      &:hover{
          background-color: #fff;
      }
      
  }
  .btn1{
    width: 100% !important;
    font-size: 10px;
    text-transform: capitalize;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 12.2096px 17.4423px #0000001a;
    border-radius: 31.3962px;
    color:#00A676;
    &:hover{
        background-color: #fff;
    }
    
}
  .btn3{
    width: 100% !important;
    
    text-transform: capitalize;
        height: 35px;

    background: #F08B32 !important;
    box-shadow: 0px 12.2096px 17.4423px #0000001a;
    border-radius: 31.3962px;
    color:white;
    &:hover{
        background-color: #fff;
    }
    
}
.btn2{
  width: 100% !important;
  
  margin-right: 24px;

  text-transform: capitalize;
      height: 35px;

  background: #FFFFFF;
  box-shadow: 0px 12.2096px 17.4423px #0000001a;
  border-radius: 31.3962px;
  color: #F08B32;
  &:hover{
      background-color: #fff;
  }
  
}

}
.payStackDesktops{
  justify-content: space-between;
  margin: 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  .btn{
      width: 117px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 12.2096px 17.4423px #0000001a;
      border-radius: 31.3962px;
      color:#00A676;
      
  }
}
.buttonFont{
  font-size: 12px !important;
}
.grandTotal{
  font-size: 12px !important;
  line-height: 25px;
color: rgba(255, 255, 255, 0.89);
}
.divider{
  width: 56.74px;
  height: 0px !important;
  transform: rotate(90deg);
  align-self: center;

}
.pr{
  padding-right: 65px;
  align-self: center;

}
.greyCard{
  font-weight: 500;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

color: #2E3A59;
}
.rejectFont{
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #FF0000;
  position: relative;
  width: 129px;
  height: 39px;
  top: -15px;
  background: #FFFFFF;
  box-shadow: 0px 12.2096px 17.4423px rgba(0, 0, 0, 0.1);
  border-radius: 31.3962px;
}
.searchClass2{
  position: sticky;

}
.searchClass{
  position: absolute;
  margin-block: 10px;
  margin-left: 10px;
}
.right{
  text-align: -webkit-right;
  width: 95%;
}
.divideHead{

  width: 12px;
  border: solid #F08B32;
  height: 0px !important;
  border: 1px solid #F08B32 !important;
  background-color: #F08B32 !important;
  border-radius: 4px;

}


// mobile
.stack {
  width: 100%;
}

.title {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 41px !important;
  letter-spacing: 0.374px !important;
  color: #283049;
  margin-left: 23px !important;
  margin-top: 15px !important;
}

.titleSelectEmail {
  font-family: 'Lexend' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 18px !important;

  letter-spacing: 0.374px !important;

  padding-top: 30px;
  color: #283049 !important;
}
.dataGrid {
  padding-top: 30px;
  justify-content: space-between;
  // padding-left: 22px;
  // padding-right: 30px;
}
.invoiceImg {
  align-self: center;
  padding-left: 20px;
}
.gridAddAndManage {
  padding-left: 34px;
  padding-right: 31px;
}
.providerConfirm {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #ffffff !important;
  background: #f08b32 !important;
  border-radius: 18px !important;
  margin-bottom: 19px !important;
  text-transform: capitalize !important;
  width: 117px;

  height: 38px;
}
.addProvider {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #f08b32 !important;
  border: 1px solid #f08b32 !important;
  border-radius: 18px !important;
  width: 117px;
  text-transform: capitalize !important;

  height: 38px;
}
.paid1 {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #ffffff !important;
  background: #f08b32 !important;
  border-radius: 18px !important;
  margin-bottom: 19px !important;
  text-transform: capitalize !important;
  width: 141px;
      height: 47px;

}
.paid2 {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #f08b32 !important;
  border: 1px solid #f08b32 !important;
  border-radius: 18px !important;
  text-transform: capitalize !important;
  width: 141px;
      height: 47px;

}
.buttons {
  text-align: center;
justify-content: space-between;
margin-top: 97%;

}
.cardWhite{
  width: 100%;
  background-color: white;
  padding: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
.invoiceNum{
  font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #000000;
}
.invoiceDate{
font-weight: 300;
font-size: 12px;
line-height: 15px;

color: #FF0000;
}
.invoiceAmt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #FF0000;
  }
  .gridAmt{
    width: 33%;
    justify-content: space-between;
    align-items: center;
  }
.invoiceAmt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F08B32;
  }
  .stackInput{
    text-align-last: right;
    justify-content: space-between;
    height: 55px;
  }
  .gridVal{  
    justify-content: space-between;
    height: 55px;
   }