.container {
  margin: 80px 40px;
  // min-width: 516px;

  // Main index Wrapper
  .title {
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.374px;
    color: #283049;
    position: relative;
    margin-bottom: 52px;
  }
  .title::before {
    content: '';
    width: 17.32px;
    height: 2px;
    background: #f08b32;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 2px;
  }

  // Security Question

  .subtitle {
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px !important;
    letter-spacing: 0.374px;
    color: #283049;
  }

  .inputElement {
    background: rgba(237, 237, 237, 0.15);
    border: 0.7px solid rgba(153, 158, 165, 0.39);
    border-radius: 8px;
    color: #283049;
    margin-bottom: 24px;

    &:focus label {
      color: #6e6e6e;
    }

    input {
      color: #283049;
      font-family: 'Lexend';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-left: 6px;
      margin: 23px 0 21px 6px !important;
      padding: 0;
    }

    label {
      padding: 8px 16px 0 16px !important;
      margin-bottom: 8px;
      display: inline-block;
      color: #6e6e6e !important;
      font-family: 'Lexend';
      font-weight: 400;
      font-size: 12px !important;
      line-height: 15px !important;
      &::after {
        content: '*';
        bottom: 0;
        color: red;
        position: absolute;
        margin-left: 5px;
      }
    }
  }
  .inputElement.passinputElement {
    margin-bottom: 16px;
    input {
      margin: 9px 0 0 0 !important;
      letter-spacing: 2px;
    }
  }

  .contactsupport {
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #00a676;
    text-decoration-color: #00a676;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  .proceedbtnwrap {
    justify-content: center;
    flex-direction: row;

    &:disabled {
      cursor: not-allowed;
    }
  }
  .proceedbtn {
    padding: 10px 20px;
    gap: 10px;
    background: #f08b32;
    border-radius: 48px;
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    width: 241px;
    text-transform: capitalize;

    &:disabled {
      opacity: 0.5;
      color: #ffffff;
      cursor: not-allowed;
      pointer-events: initial;
    }

    &:hover {
      background: #f08b32;
    }
  }

  // Verification Code

  .subtitle.verifyotp {
    margin-bottom: 12px !important;
  }
  .verifymobilenumber {
    font-family: 'Lexend';
    font-size: 18px;
    line-height: 22px;

    p:first-child {
      font-weight: 300;
      color: rgba(40, 48, 73, 0.51);
      margin-bottom: 12px;
    }
    p:last-child {
      font-weight: 500;
      color: #283049;
      margin-bottom: 20px;
    }
  }

  // .inputcontainer {
  //   flex: 1;
  // }
  .inputStyle {
    width: 40px !important;
    height: 40px;
    background: rgba(237, 237, 237, 0.22);
    border: 0.7px solid #919eab;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 16px;
  }

  .otpresend {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
  // Set New Password

  .passvalidationtext {
    font-family: 'Lexend' !important;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(40, 48, 73, 0.51);
    margin-bottom: 28px;
  }

  .notemsg {
    font-family: 'Lexend';
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: rgba(40, 48, 73, 0.51);
    margin-bottom: 40px;

    span {
      font-weight: 700;
      color: #f08b32;
    }
  }

  .inputErr {
    background: rgba(237, 237, 237, 0.15);
    border: 0.7px solid #00a676;
    border-radius: 8px;
  }
}
