.button1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    position:relative;

    background:  #FFFFFF !important;

    border-radius: 18px;

    text-align: center;
    color: #6E6E6E !important;
    flex: none;
    order: 0; 
    flex-grow: 0;
    cursor:default;

    border-radius:8px !important;
    white-space: nowrap; 
    min-width: auto;
    border:1px solid #6E6E6E !important;
    font-family: 'Lexend' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: .9vw !important;
    line-height: 12px !important;
    text-transform: none !important;
}

.button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    position:relative;

    background:  #FFFFFF !important;

    border-radius: 18px;

    text-align: center;
    color: #6E6E6E !important;
    flex: none;
    order: 0; 
    flex-grow: 0;
    cursor:default;

    border-radius:8px !important;
    white-space: nowrap; 
    min-width: auto;
    border:1px solid #6E6E6E !important;
    font-family: 'Lexend' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: .9vw !important;
    line-height: 12px !important;
    text-transform: none !important;
}

.buttonHolder_double{
    margin-top:20px !important;
    display: inline-flex;
    flex-direction: row;
    float: right;
    gap: 20px;
    width: 37%;
    padding-right:20px;
}

.buttonHolder_single{
    margin-top:20px !important;
    display: inline-flex;
    flex-direction: row;
    float: right;
    gap: 20px;
    width: 18%;
}




.button1{
    left: -20px !important;
}
    
[aria-describedby="alert-dialog-description"]{
    border-radius:8px;
}

[role="dialog"]{
    border-radius:8px;    
}

.custompopupsButtonsSelected{
    background: #F08B32 !important; 
    color:#FFFFFF !important;
}


@media only screen and (max-width: 600px) {
    .button1{
        font-size:3vw !important;
    }
    .button2{
        font-size:3vw !important;
    }
    #alert-dialog-description >div{
        max-height:30px;
    }
}
