.trigger {
    width: 100%;
    height: 56px;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--colorInputBorder);
    padding-bottom: 2px;
    position: relative;
    cursor:pointer !important;
    background-color: var(--colorInputBG);
    max-width: 100%;
    &.multiple {
        display: grid;
    }
    &.bankBorder {
        border-color: #7c7c7c !important;
    }
    .label {
        color: var(--colorInputLabel);
        font-size: 12px;
        padding: 8px 10px 0;
        font-weight: 400;
    }
    .value {
        font-size: 14px;
        font-weight: 400;
        padding: 5px 30px 5px 10px;
        width: calc(100% - 40px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    .icon {
        color: var(--colorInputLabel);
        position: absolute;
        right: 6px;
        height: 100%;
        top: 0;
    }
}

.handle {
    width: 50px;
    margin: 12px auto;
    height: 4px;
    border-radius: 4px;
    background-color: var(--colorDrawerHandle);
}
.handleR {
    width: 34vw;
    // margin: 12px auto;
    // height: 4px;
    // border-radius: 4px;
    // background-color: var(--colorDrawerHandle);
}
.desktop {
    width: 34vw;
}
.childContainer {
    overflow: auto;
}
.childContainer2 {
    overflow: auto !important;
    height: 100vh;
}