.draftBillsMob{
  background: #fff;
}
.draftBills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    p{
        margin: 0;
        font-family: 'Lexend' !important;
    }
    .draftTitle{
        font-weight: 400;
font-size: 16px;
color: #283049;
&:first-letter {
  // content: "";
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--colorPrimaryButton);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
    }
    .draftTitleMob{
      font-weight: 400;
font-size: 18px;
color: #283049;
margin: 25px 0 10px 15px ;
&:first-letter {
  // content: "";
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--colorPrimaryButton);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
  }

  .secondRowMob{
    flex-direction: column;
    gap: 20px;
  }

    .secondRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .firstSetMob{
          justify-content: space-between;
          width: 90%;
          margin: 0 5%;
        }
        .firstSet{
            display: flex;
            align-items: center;
            gap: 20px;
    .searchFilter {
        display: flex;
        box-sizing: border-box;
        padding: 8px;
        color: black;
        align-items: center;
        margin-right: 3px;
        width: 12vw !important;
        background: #FFFFFF !important;
        border: 1.5px solid #E1E1E1 !important;
        border-radius: 8px !important;
        height: 34px;

        .textFieldFocus{
            border: none;
            overflow: auto;
            font-size: 12px;
        }
      
        input {
          width: 122px;
          border: none;
          font-style: normal;
          font-weight: 300;
          font-size: 17px;
          line-height: 22px;
          color: black;
          // background-color: #e7e7e7;
          font-family: Lexend;
          font-style: normal;
      
          &:focus {
            outline: none;
          }
        }
      }
    }
    
    .secondSet{
        display: flex;
            gap: 20px;
            align-items: center;
            .downloadImg{
                background: #F08B32;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 35px;
    cursor: pointer;
            }
    }
    }

    .thirdRow{
        .tableHead{
            font-weight: 500;
font-size: 14px;
color: #6B6F7B;
        }
        .vendorName{
            font-weight: 600;
font-size: 14px;
color: #313A4E;
text-transform: capitalize;
        }
        .vendorId{
            font-weight: 300;
font-size: 12px;
color: #6B6F7B;
        }
        .billNumber{
            font-weight: 400;
font-size: 14px;
color: #313A4E;
            color: #6B6F7B;
        }
        .status{
            font-weight: 400;
font-size: 13px;
color: #FF9548;
text-transform: capitalize;
        }
        .vendorDate{
          font-weight: 400;
font-size: 14px;
color: #313A4E;
text-transform: capitalize;
      }
      .vendorAmt{
        font-weight: 400;
font-size: 14px;
color: #313A4E;
text-transform: capitalize;
    }
    }
}

.DividerFilter {
    width: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    background: #f08b32 !important;
    height: 1.7px;
    border-radius: 38px;
    margin-bottom: 3%;
  }

  .checkboxList {
    border-bottom: 1px solid var(--colorDivider);
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  
  }

  .checkboxLabel {
    display: inline-block;
    text-transform: capitalize;
  }
  .forline {
    margin: 15px 5px;
    &:first-letter {
        // content: "";
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: var(--colorPrimaryButton);
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
      }
  }
  .applyFiltersButton{
    background-color:#F08B32 !important;
      color: rgb(255, 255, 255) !important;
      margin: 20px 25% !important;
      width: 50% !important;
      // margin-top: 0 !important;
      border-radius: 25px !important;
      text-transform: capitalize !important;
  }

  .selectedOptions3 {
    display: flex;
    overflow: overlay;
    // margin-bottom: 28px;
    // margin-top: -50px;
    // margin-left: 194px;
    width: 40vw;
    gap: 10px;
  }

  .selectedOptions3Mob {
    display: flex;
    overflow: overlay;
    margin: 0 5%;
    width: 90%;
    gap: 10px;
  }

  .DraftBillIcon{
    background: #FF9548;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    position: relative;
    .innerSpan{
      background: #fff;
      height: 12px;
      width: 12px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      border-radius: 8px;
      left: 50%;
    }
  }

  .draftOpenSheet{
    padding: 20px;
    .documentTitle{
      font-family: 'Lexend' !important;
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #283049;
margin: 0;
&:first-letter {
  // content: "";
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--colorPrimaryButton);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
    }
    .viewInvoice{
      font-family: 'Lexend' !important;
      font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F08B32;
    margin: 0;
    cursor: pointer;
    }
    .fields{
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 12px 0;
      p{
        margin: 0;
      }
      .leftFields{
        font-family: 'Lexend' !important;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #6E6E6E;
      }
      .rightFields{
        font-family: 'Lexend' !important;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
white-space: pre-wrap;
width: 100%;
overflow: hidden;
color: #283049;
text-transform: capitalize;
      }
    }
  }

  .finalButtonDiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .firstRow{
      display: flex;
    justify-content: space-between;
    align-items: center;
    .delete{
      background: #D93535;
    border-radius: 18px;
    padding: 10px 25px;
    cursor: pointer;
    p{
      font-family: 'Lexend' !important;
font-style: normal;
font-weight: 500;
font-size: 14px;
margin: 0;
color: #FFFFFF;
    }
    }
    .continue{
      background: #F08B32;
    border-radius: 18px;
    padding: 10px 25px;
    cursor: pointer;
    p{
      font-family: 'Lexend' !important;
font-style: normal;
font-weight: 500;
font-size: 14px;
margin: 0;
color: #FFFFFF;
    }
    }
    }
    .lastRow{
      background: #00A676;
    border-radius: 18px;
    padding: 10px 25px;
    cursor: pointer;
    p{
      font-family: 'Lexend' !important;
font-style: normal;
font-weight: 500;
font-size: 14px;
margin: 0;
color: #FFFFFF;
text-align: center;
    }
    }
  }

  .deleteMainDiv{
    padding: 6%;
  }

  .deletetitle{
    font-weight: 400;
  font-size: 16px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #283049;
  }

  .deleteDivider{
    border-radius: 4px;
    width: 10px;
    margin-bottom: 4% !important;
  
    height: 1px;
    background-color: rgb(240, 139, 50) !important;
  }
  .deleteDescription{
    margin: 7% 0% 7% 0%;
  font-size: 14px;
  }.deleteDescriptionDesktop{
    margin: 7% 0% 0% 0%;
  font-size: 14px;
  }
  .deleteDescriptionDesktop2{
    margin: 3% 0% 7% 0%;
  font-size: 14px;
  }
  .buttonWidth{
    width: 88%;
    margin-left: 5%;
    justify-content: space-between;
  }
  .submitButton{
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: -0.02em !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background: #F08B32 !important;
    border-radius: 100px !important;
    height: 50px !important;
    text-transform: capitalize !important;
    width: 39%;
    margin: 1% 0% 3% 0% !important;
  }
  .CancelButton{
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: -0.02em !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #F08B32 !important;
    background: #FFFFFF !important;
    border-radius: 100px !important;
    border: 0.5px solid #F08B32 !important;
    text-transform: capitalize !important;
    width: 39%;
    margin: 1% 0% 3% 0% !important;
  }
  .categoryOptions {
    margin: 0 20px;
    border-bottom: 1px solid var(--colorDivider);
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .draftMobCard{
    width: 100%;
    .cardDetail{
      display: flex;
      flex-direction: row;
      width: 90%;
      padding: 5%;
      justify-content: space-between;
    align-items: center;
    }
    .cardDetail:nth-child(odd) {
      background-color: #F5F5F3;
    }
    .cardDetail:nth-child(even) {
      background-color: #FFFFFF;
    }
    .firstSet{
      display: flex;
      flex-direction: column;
      width: 75%;
      gap: 10px;
      .vendorName{
        font-weight: 500;
    color: #2e3a59;
    /* margin: 8px 0px; */
    font-size: 13px;
    /* min-width: 50%; */
    text-transform: capitalize;
      }
      .innerFirst{
        display: flex;
        justify-content: space-between;
        .key{
          color: #6e6e6e;
          font-size: 11px;
          font-weight: 400;
        }
        .value{
          color: #2e3a59;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
    .secondSet{
      width: 15%;
      display: flex;
      justify-content: center;
    }
    }