.processHolder{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index:10000;
    left:-.5%;
    top:-.5%;

    
    .hourGlass{
       height: 50px;
       width: 50px; 
       justify-content: center;
       align-items: center;
       position:absolute;
       left:45%;
       top:45%;
    }
}