.buttonFont {
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #FFFFFF;
}

.button {
    width: 300px;
padding-top: 6px;
padding-bottom: 6px;
background: #F08B32;
border-radius: 18px;
margin-bottom: 28px;
}

.header {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
padding-bottom: 24px;
padding-top: 11px;

}
.parent {
    text-align: -webkit-center;
    background-color: white;
    height: 100%;

}