.text {
  padding: 0 0 10px 0;
  text-transform: capitalize;
  font-weight: 300 !important;
}
.makePaymentContainer {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}
.makePaymentContainerDesktop {
  width: 100%;
  height: 80%;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
}
.makePaymentContainerMainDesktop {
  margin: 1rem;
  height: 100%;
  .tabContainerDesktop {
    height: 100%;
    .outstanding {
      height: 100%;
      .billsDesktop {
        height: calc(100% - 180px);
      }
    }
  }
}
.headerContainerDesktop {
  display: none;
}
.headerContainer {
  position: relative;

  .headerLabel {
    font-weight: 400;
    color: var(--colorTitle);
    font-size: 16px;
    padding: 18px 0px 0px 0px;
  }
  @media (max-width: 768px) {
    .headerLabel {
      padding: 0;
    }
  }
  .headerUnderline {
    position: absolute;
    width: 10px;
    height: 2px;
    margin-top: 4px;
    margin-left: 2px;
    background-color: var(--colorPrimaryButton);
  }
}

.tabContainerDesktop {
  width: 100%;
  .tabsWrapperDesktop {
    flex: 1;
    justify-content: center;
    align-items: center;
    .tabsStyle {
      margin-bottom: 20px;
    }
    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }
    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }
  .tabsWrapper {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    .tabsStyle {
      margin-bottom: 20px;
    }
    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }
    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }
}
.tabContainer {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  .tabsWrapper {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    .tabsStyle {
      margin-bottom: 20px;
    }
    .activeTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorPrimaryButton);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 3px solid;
    }
    .deactiveTab {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(40, 48, 73, 0.7);
      width: 50%;
      min-width: 50%;
      font-size: 15;
      line-height: 19px;
      letter-spacing: 0.374px;
      border-bottom: 2px solid;
    }
  }
}
.outstanding {
  input {
    ::placeholder {
      color: #000000 !important;
      opacity: 1 !important;
    }
  }
  .billsDesktop {
    margin: 20px 0 0 0;
    background-color: white;
    height: 48vh;
    overflow: scroll;
    p {
      margin: 0;
      padding: 0;
    }
    .billItemDesktop {
      height: 44px;
      background: var(--colorGreyBg);
      border-radius: 10px;
      margin: 0 0 14px 0;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .body {
        flex: 1;
      }
      .billName {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
        text-transform: capitalize;
      }
      .totalBill {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
      }
      .billAmount {
        color: var(--colorPrimaryButton);
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  .bills {
    margin: 25px 0 0 0;
    background-color: white;
    border-radius: 16px;
    height: calc(89vh - 480px);
    overflow: scroll;
    padding: 12px 15px;
    p {
      margin: 0;
      padding: 0;
    }
    .biilItem {
      // height: 64px;
      background: var(--colorGreyBg);
      border-radius: 16px;
      margin: 0 0 14px 0;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .body {
        flex: 1;
      }
      .billName {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 12px;
        text-transform: capitalize;
      }
      .totalBill {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
      }
      .billAmount {
        color: var(--colorPrimaryButton);
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
.payNow {
  margin: 10px 0 0 0;
  width: 90vw;
  // position: absolute;
  // bottom: -110px;
}
.payNowDesk {
  background-color: #00a676;
  height: 70px;
  position: absolute;
  bottom: 36px;
  left: 32px;
  right: 32px;
}
.payNowDesktop {
  display: none;
}
.list {
  overflow: scroll;
  margin: 18px 0 0 0;
  // height: 420px;
  height: 80vh;
}
.categoryOptions {
  // height: 75px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  &:not(:last-child) {
    margin: 0 0 8px 0;
  }
}
.categoryOptionsDesktop {
  height: 75px;
  // border-radius: 10px;
  width: 100%;
  background-color: rgba(245, 245, 243, 0.8);
  &:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.drawer {
  margin: 20px 0 0 20px;
}

.billBodyDesktop {
  margin: 0px 8px 0px 4px;
  background-color: rgba(245, 245, 243, 0.8);
  border-radius: 13px;
  // display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  p {
    margin: 0;
    padding: 0;
  }
  .billName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1%;
    text-transform: capitalize;
  }
  .overdue {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }
  .totalAmount {
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--colorPrimaryButton);
    right: 20px;
  }
  .checkedDesktop {
    display: flex;
    width: 50%;
    justify-content: space-between;
    .checkedText {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #6e6e6e;
      text-align: left;
      text-transform: capitalize;
    }
    .customPlaceholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      ::-webkit-input-placeholder {
        color: #000000;
      }
    }
    input {
      text-align: left;
    }
    .error {
      border-color: red !important;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 5px 0 0 0;
    }
  }
}

.billItem {
  p {
    margin: 0;
    padding: 0;
  }
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  height: 100%;
  .billName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 4%;
    text-transform: capitalize;
  }
  .overdue {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }
  .totalAmount {
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: var(--colorPrimaryButton);
    right: 20px;
  }
  .checked {
    .customPlaceholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      ::-webkit-input-placeholder {
        color: #000000;
      }
    }
    input {
      text-align: right;
    }
    .error {
      border-color: red !important;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 5px 0 0 0;
    }
  }
}
.action {
  width: 100%;
  text-align: center;
  // margin: 22px 0;
  position: absolute;
  bottom: 20px;
}
.actionDesktop {
  width: 100%;
  text-align: center;
  margin: 22px 0;
  position: absolute;
  bottom: 0;
}
.submitButton {
  width: 85vw;
  border-radius: 18px !important;

  color: var(--colorWhite) !important;
  padding: 6px 20px !important;
  text-align: center !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}
.submitButtonDesktop {
  width: 50%;
  border-radius: 18px !important;
  color: var(--colorWhite) !important;
  padding: 6px 20px !important;
  text-align: center !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}
.active {
  background-color: var(--colorPrimaryButton) !important;
}
.disabled {
  background: rgba(240, 139, 50, 0.56) !important;
}
.selectedParty {
  background: #ffffff;
  // margin: 42px 0 0 0;
  height: calc(95vh - 50vh);
  overflow: auto;
  .selectedBill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // padding: 0 0 0 20px;
    .selectedBillName {
      font-style: normal;
      flex: 1;
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: var(--colorPaymentTotalValue);
      text-align: left;
    }
    .selectedTotalAmount {
      flex: 1;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: var(--colorPrimaryButton);
      text-align: right;
      margin: 0 20px 0 0;
    }
  }
}

.makePaymentContainerMainMobile {
  height: 100%;
  // display: flex;
  // flex-flow: column;
  .tabContainer {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    height: 100%;
  }
  .selectedParty {
    height: calc(100% - 363px);
    /* min-height: calc(100% - 100px); */
    position: relative;
  }
  .outstanding {
    height: calc(100% - 370px);
    overflow-y: scroll;
    .bills {
      height: 75%;
    }
  }
}

.infoTextDiv{
  background: #FFF5EB;
  display: flex;
  align-items: center;
  justify-content: center;
  .infoText{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F08B32;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    img{
      margin: 0 17px 0 0;
    }
  }
}
