.proceedToPay {
  padding: 15px 15px 20px 15px;
}
.heading {
  font-size: 1.5rem !important;
  color: #f08b32;
}
.billcontentrow {
  display: flex;
  align-items: center;
  span {
    font-size: 11px;
    padding-left: 10px;
  }
}
.proceedpay_title {
  h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorPrimaryButton);
    margin: 0 0 23px 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.374px;
  }
}
.makePaymentContainer {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.headerContainer {
  position: relative;
  .headerLabel {
    font-weight: 400;
    color: var(--colorTitle);
    font-size: 16px;
  }

  .headerUnderline {
    position: absolute;
    width: 10px;
    height: 2px;
    margin-top: 10px;
    margin-left: 2px;
    background-color: var(--colorPrimaryButton);
  }
}
.billcontentrowinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 11px;
    padding-left: 10px;
  }
  input {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
  }
}

.connected_row {
  .body {
    background: #f5f5f3;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 13px 15px;
  }
  p {
    color: #6e6e6e !important;
  }
  .error {
    color: #bf2929 !important;
    max-width: 85%;
    font-size: 13px;
  }
  .inputStack {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 3rem;
    margin-left: -1rem;
  }
}

.payment_methods {
  .MakePayment_body {
    background: #f5f5f3;
    padding: 11px;
    border-radius: 5px;
  }
}
.flowStackDesktop {
  position: relative;
  height: 70vh;
  overflow: auto;
  margin: 1rem 0rem;
}
.flowStack {
  overflow: auto;
  height: 50vh;
  margin-top: 1rem;
}
.connected_heading {
  .headerContainer {
    margin: 20px 0px;
  }
}
.connected_row {
  .headerLabel {
    font-weight: 500;
  }
}

.connected_row {
  .billName {
    font-size: 11px;
    padding-left: 10px;
  }
}

.payNow {
  margin: 16px 0 0 0;
}

.dialog {
  & div[role='dialog'] {
    background-color: transparent;
  }
  .paymentModal {
    // width: 500px;
    position: relative;
    p {
      margin: 0;
    }

    // & div:not(:last-child) {
    //   margin-bottom: 6px;
    // }

    .firstModalSection,
    .secondModalSection,
    .thirdModalSection {
      padding: 20px 40px;
      background-color: white;
    }
    .firstModalSection,
    .secondModalSection{
      margin-bottom: 6px;
    }
    .virtualAccountTitle {
      font-size: 12px;
      color: #f08b32;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    .modalSectionTitle {
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
    }
    .modalSectionSubTitle {
      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
    }

    .modalSectionSubTitleOtp {
      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
      color: #6e6e6e;
      span {
        color: #283049;
        font-size: 13px;
      }
    }

    .transactionPassBtnContainer {
      display: flex;
      justify-content: center;
    }
    .transactionPassBtn {
      background-color: #f08b32;
      color: white;
      border-radius: 50px;
      padding: 15px 30px;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .paymentModalLabel {
      display: flex;
      flex-flow: column nowrap;
      border: 0.7px solid rgba(153, 158, 165, 0.39);
      background-color: rgba(237, 237, 237, 0.15);
      border-radius: 8px;
      padding: 10px;
      font-size: 10px;
      font-weight: 300;
      color: #2e3a59;
      margin-bottom: 5px;
      position: relative;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
      }
      &.hasError {
        border: 1px solid var(--colorError);
      }
    }

    .forgetPass,
    .resentOtp {
      color: #6e6e6e;
      font-size: 12px;
      font-weight: 400;
      text-align: right;
      text-decoration: underline;
      cursor: pointer;
    }

    .forgetPass {
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .forgetwrap {
      text-align: right;
    }
    .resentOtp {
      text-align: center;
    }

    .paymentModalButton {
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      background-color: #f08b32;
      width: 100%;
      border-radius: 50px;
      padding: 10px 20px;
      letter-spacing: 0.8px;
    }
    .errorMessageModal {
      font-size: 11px;
      color: #bf2929;
      margin-top: 5px;
    }

    .collapsedTransaction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
    }
    .collapsedOtp {
      p {
        margin: 0;
      }
    }
    .completedTransaction {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      width: 84%;
      height: 91%;
      padding: 20px 40px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }

      .paymentSuccess {
        color: #28304982;
        font-size: 12px;
        margin-bottom: 40px;
      }

      button {
        margin-bottom: 15px;
      }

      .urlToPaymentDashboard {
        color: #283049b2;
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 0;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    .thirdModalSection {
      & button:disabled {
        background-color: #f08b3275;
        cursor: unset;
      }
    }
  }
}

.checkedRadio {
  &:hover,
  &:focus {
    -webkit-appearance: auto !important;
  }
}
