.selectBankAccount{
    .firstCont{
        padding: 20px 20px 0;
    .headerP {
        font-weight: 400;
        font-size: 16px;
        color: #283049;
    
        &:first-letter {
          // content: "";
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-color: var(--colorPrimaryButton);
          text-decoration-thickness: 3px;
          text-underline-offset: 5px;
        }
      }

      .searchFilterFull {
        background: rgba(237, 237, 237, 0.15);
        border: 0.7px solid rgba(153, 158, 165, 0.39);
        box-sizing: border-box;
        border-radius: 8px;
        color: #6e6e6e;
        margin: 20px 0;
        display: flex;
        align-items: center;
        .searchFilterInputBig {
          padding: 10px 20px;
          width: calc(100% - 40px);
          border-radius: 8px;
        }
        .searchFilterIcon {
            margin: 0 10px !important;
          }
          svg {
            width: 18px;
            height: 18px;
            color: #6e6e6e;
          }
        input {
          border: none;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
          color: #6e6e6e;
          font-family: Lexend;
          font-style: normal;
      
          &:focus {
            outline: none;
          }
        }
      }
    }

    .centerScrollCont{
        overflow-y: auto;
        overflow-x: hidden;
        height: 78vh;

        .bankListDiv{
            display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px 15px;
    width: calc(100% - 30px);
    border-bottom: 1px solid #D8D8D8;
    .bankListInner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 6px 0;
        cursor: pointer;
        .bankListDetails{
            display: flex;
            align-items: start;
    gap: 10px;
    .bankLeft{
        font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #283049;
margin: 0;
white-space: nowrap;
    }
    .bankRight{
        font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 15px;
color: #283049;
margin: 0;
    }
        }
    }
        }
    }
}