.memberAddSheet{
  background: #F7F7F7;
    .topHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .headerContainer {
          position: relative;
          margin-top: 1rem;
        
          .headerLabelDesktop {
            font-weight: 400;
            color: var(--colorTitle);
            font-size: 25px;
          }
        
          .headerLabel {
            font-weight: 400;
            color: var(--colorTitle);
            font-size: 16px;
            margin: 0;
          }
        
          .headerLabelForEdit {
            font-family: 'Lexend' !important;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
        
            &:first-letter {
              // content: "";
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-color: var(--colorPrimaryButton);
              text-decoration-thickness: 3px;
              text-underline-offset: 5px;
            }
          }
        
          .headerUnderlineDesktop {
            display: none;
          }
        
        }
    }
    .inputContain{
        margin-bottom: 20px;
    }
.lastButton{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

  .outlinedButton{
    background: #fff !important;
    color: #f08b32 !important;
    border-radius: 26px !important;
    border: 1px solid #f08b32 !important;
    height: 40px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    text-transform: capitalize !important;
    min-width: 32% !important;
  }
  .containedButton {
    height: 40px !important;
    background: #f08b32 !important;
    border-radius: 18px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #ffffff !important;
    text-transform: capitalize !important;
    min-width: 33% !important;
  }
}
.deactivateButton{
    height: 40px !important;
    background: #d60000 !important;
    border-radius: 18px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #ffffff !important;
    text-transform: capitalize !important;
    margin: 20px 0 !important;
    width: 100%
  }

  .bankDetail{
    font-family: 'Lexend' !important;
font-style: normal;
font-weight: 400;
font-size: 22.1678px;
  }

  .greyBorder{
    width: 95%;
    margin: 0 2% !important;
    padding: 0 !important;
  }


}

.businessAddress{
  background: #FFF;
  padding: 15px;
  border: 1px solid #A0A4AF;
border-radius: 8px;
}